body {
    margin: 0;
    height: 100vh;
    background: #ECFDF5;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 9px 17px 9px 400px;
    gap: 12px;
    height: 600px;
    width: 550px;
}
#title-one {
    color: #2B283A;
    line-height: 30px;
    font-size: 40px;
}
#title-two {
    color: #10B981; 
    line-height: 0; 
    font-size: 40px;
}
h3 {
    font-family: 'Inter', sans-serif;
    color: #6B7280;
    margin-top: 0;
    font-size: 20px;
    line-height: 58px;
}
#password {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: 0 none;
    height: 42px;
    width: 191px;
    left: 52px;
    top: 284px;
    padding: 9px, 17px, 9px, 15px;
}
#line {
    border-bottom: 2px solid #D5D4D8;
    margin-top: 20px;
    width: 467px;
    margin-bottom: 20px;
}
button { 
    margin: 10px 10px 10px 0;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;
    background-color: #273549;
    border-radius: 6px;
}
#option-one {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#5DEF92;
}
#option-two {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #5DEF92;
}